.add-space {
  flex: 1 1 auto;
}

.toolbar {
  z-index: 2;
  top: 0;
  position: fixed;
}

.container {
  position: relative;
  top: 64px;
}

.container-nav {
  position: fixed;
  overflow-y: auto;
  top: 64px;
  bottom: 0;
  width: 250px;
  @media only screen and (max-width: 250px) {
    width: 100%;
  }
}

.container-main {
  padding: 2em;
  background-color: whitesmoke;
}
