<mat-toolbar class="toolbar">
  <button
    mat-icon-button
    aria-label="Example icon button with a vertical three dot icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>Greetings Clyde!</span>
  <span class="example-spacer"></span>
  <form style="font-size: medium;">
    <mat-form-field appearance="outline" style="margin-bottom: -1.25em;">
      <span matPrefix
        ><mat-icon matSuffix>search</mat-icon> &nbsp;&nbsp;&nbsp;</span
      >
      <input type="search" matInput />
    </mat-form-field>
  </form>
  <span class="example-spacer"></span>
  <button mat-button [matMenuTriggerFor]="menuProfile">
    <mat-icon>person</mat-icon>
    <span>Clyde Miles</span>
  </button>
  <mat-menu #menuProfile="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>edit</mat-icon>
      <span>Edit profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <span>|</span>
  <button mat-icon-button [matMenuTriggerFor]="menuSettings">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #menuSettings="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon>update</mat-icon>
      <span>Update</span>
    </button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menuNotifications">
    <mat-icon>notifications</mat-icon>
  </button>
  <mat-menu #menuNotifications="matMenu" xPosition="before">
    <mat-list>
      <div mat-subheader>
        <mat-icon>notifications</mat-icon>
        <span>Notifications</span>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>mail</mat-icon>
        <div mat-line>You received a new message</div>
        <div mat-line>6 min ago</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>New user registered</div>
        <div mat-line>15 min ago</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>error_outline</mat-icon>
        <div mat-line>System alert</div>
        <div mat-line>2 days ago</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>update</mat-icon>
        <div mat-line>You have a new update</div>
        <div mat-line>3 days ago</div>
      </mat-list-item>
    </mat-list>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="menuMail">
    <mat-icon matBadge="4" matBadgeColor="warn">mail</mat-icon>
  </button>
  <mat-menu #menuMail="matMenu" xPosition="before">
    <mat-list>
      <div mat-subheader>
        <mat-icon>mail</mat-icon>
        <span> Messages</span>
      </div>
      <mat-divider></mat-divider>
      <mat-list-item>
        <mat-icon mat-list-icon>mail</mat-icon>
        <div mat-line>Mark send you a message</div>
        <div mat-line>1 min ago</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>person</mat-icon>
        <div mat-line>Jase send you a message</div>
        <div mat-line>15 min ago</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>error_outline</mat-icon>
        <div mat-line>Profile picture updated</div>
        <div mat-line>2 days ago</div>
      </mat-list-item>
    </mat-list>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menuExit">
    <mat-icon>save_alt</mat-icon>
  </button>
  <mat-menu #menuExit="matMenu" xPosition="before">
    <button mat-menu-item>
      <mat-icon>lock</mat-icon>
      <span>Lock screen</span>
    </button>
    <button mat-menu-item>
      <mat-icon>exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="mode.value" class="side-nav">
    I'm a drawer
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{ node.name }}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node
        *matTreeNodeDef="let node; when: hasChild"
        matTreeNodePadding
      >
        <button
          mat-icon-button
          matTreeNodeToggle
          [attr.aria-label]="'toggle ' + node.name"
        >
          <mat-icon class="mat-icon-rtl-mirror">
            {{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}
          </mat-icon>
        </button>
        {{ node.name }}
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>

  <mat-sidenav-content class="example-container-main">
    <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    <p>
      <mat-radio-group class="example-radio-group" [formControl]="mode">
        <label>Mode:</label>
        <mat-radio-button value="over">Over</mat-radio-button>
        <mat-radio-button value="side">Side</mat-radio-button>
        <mat-radio-button value="push">Push</mat-radio-button>
      </mat-radio-group>
    </p>
    <div id="overflowTest">
      This text is really long and the height of its container is only 100
      pixels. Therefore, a scrollbar is added to help the reader to scroll the
      content. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
      diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
      volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
      ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
      Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse
      molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero
      eros et accumsan et iusto odio dignissim qui blandit praesent luptatum
      zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber
      tempor cum soluta nobis eleifend option congue nihil imperdiet doming id
      quod mazim placerat facer possim assum. Typi non habent claritatem
      insitam; est usus legentis in iis qui facit eorum claritatem.
      <div style="height: 100vh; width: 100px; background-color: red;"></div>
      <div style="height: 100vh; width: 100px; background-color: aqua;"></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
